<div class="row mt-md-4">
  <div class="col-md-2">
    <a href="#" [routerLink] = "['/']">
      <img src="../../assets/logo.jpeg"  alt="" class="img-fluid img-logo">
    </a>
  </div>
  <div class="col-md-8 col-md-offset-1">
      <img src="../../assets/lema.jpeg" alt="" class="img-fluid img-lema">
  </div>
  <div class="col-md-2 d-flex  align-items-end flex-column">
    <img *ngIf="idioma!='en'" (click)= "switchLanguage('en')" src="../../assets/ingles.png" alt="">
    <img *ngIf="idioma!='es'" (click)="switchLanguage('es')" src="../../assets/espaniol.png" alt="">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
      <ul class="navbar-nav ml-md-2">
        <li class="nav-item  ">
          <a class="nav-link" href="#" [routerLink]="['/aboutUs']" routerLinkActive translate>header-nav-quienesSomos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/eventos']" routerLinkActive translate>header-nav-eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/album']" routerLinkActive translate>header-nav-album</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] = "['/foro']" routerLinkActive translate>header-nav-foro</a>
        </li>
        <li class="nav-item" *ngIf="!_authServise.isLogged()">
          <a class="nav-link" href="#" [routerLink] = "['/login']" routerLinkActive translate>header-nav-iniciarSesion</a>
        </li>
        <li class="nav-item" *ngIf="_authServise.isLogged()">
          <a class="nav-link" href="#" [routerLink] = "['/miPerfil']" routerLinkActive translate>header-nav-miperfil</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
