<div class="top row ">
<div class="card mb-3 col-md-6">
    <div class="card-header text-center">
      <h2 translate>contactanos</h2>
    </div>
    <div class="card-body">
        <form (ngSubmit)="submit()" #forma = "ngForm">
            <div class="form-group">
                
              <div class="form-group">
                    
                <label for="inputEmail"  translate>contactanos-nombre</label>
                <input type="text" name="nombref" [(ngModel)] = "nombre" #nombref= "ngModel" class="form-control" id="inputEmail" placeholder="" required>
              </div>

              <div class="form-group">
                <label for="inputEmail"  translate>contactanos-email</label>
                <input type="email" name="emailf" [(ngModel)] = "email" #emailf= "ngModel" class="form-control" id="inputEmail" placeholder="" required pattern="^[_a-z0-9-]+(.[_a-z0-9-]+)*@[a-z0-9-]+(.[a-z0-9-]+)*(.[a-z]{2,4})$">
              </div>
                <div class="form-group">
                  <label for="inputWork"  translate>contactanos-ocupacion</label>
                  <input type="text" class="form-control" id="inputWork" name="ocupacionf" #ocupacionf= "ngModel" [(ngModel)] = "ocupacion" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="inputTelefono"  translate>contactanos-telefono</label>
                    <input type="text" class="form-control" name="telefonof" [(ngModel)] = "telefono" #telefonof= "ngModel" id="inputTelefono" placeholder="" required>
                </div>
              </div>
              
              
                  <div class="form-group">
                      <label for="inputInteres" translate>contactanos-interes</label>
                      <select id="inputInteres" class="form-control" name="asuntof" [(ngModel)] = "asunto" #asuntof= "ngModel" required>
                        <option selected translate>contactanos-interes1</option>
                        <option translate>contactanos-interes2</option>
                        <option translate>contactanos-interes3</option>
                        <option translate>contactanos-interes4</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="inputMensaje" translate>contactanos-mensaje</label>
                        <textarea class="form-control" name="mensajef" [(ngModel)] = "mensaje" id="textTareaMensaje" #mensajef= "ngModel" rows="3" required></textarea>  
                      </div>
                
                
                      <div class="alert alert-success" *ngIf ="processed" role="alert">
                       <span class="alert-link">Muy Bien!</span> Tu solicitud a sido recibida.
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                       </button>
                      </div>
                      <div class="alert alert-warning" role="alert" *ngIf = "isprocesing" >
                        <span class="alert-link">Espera.</span> Estamos procesando tu solicitud...
                      </div>
              <button type="submit" [disabled]= "!forma.valid " *ngIf = "!isprocesing" class="btn btn-primary" translate>contactanos-button-registrarse</button>
            </form>
    </div>
</div>
<div class="card col-md-6"><iframe width="550" height="300" src="https://maps.google.com/maps?width=500&height=600&hl=es&q=18%20norte%20y%2014%20ote%20puebla%20+(Ametrajub%20A.C.)&ie=UTF8&t=&z=18&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear mapa interactivo</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe>
   <div class="top card">
     <div class="card-header" translate>
       contactanos-via
     </div>
     <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item fas fa-phone" translate> contactanos-tel</li>
            <li class="list-group-item fab fa-skype" translate> inicio-user</li>
            <li class="list-group-item fab fa-facebook "><a href="https://www.facebook.com/Ametrajup-AC-235906123619259/"> Ametrajup A.C.</a></li>
        </ul>
     </div>
   </div>

</div>

</div>


