<div class="top row ">
<div class="card mb-3 col-md-6">
    <div class="card-header text-center">
      <h2 translate>contactanos</h2>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                
                <div class="form-group">
                    
                  <label for="inputEmail"  translate>contactanos-email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="">
                </div>
                <div class="form-group">
                  <label for="inputWork"  translate>contactanos-ocupacion</label>
                  <input type="text" class="form-control" id="inputWork" placeholder="">
                </div>
                <div class="form-group">
                    <label for="inputTelefono"  translate>contactanos-telefono</label>
                    <input type="text" class="form-control" id="inputTelefono" placeholder="">
                </div>
              </div>
              
              
                  <div class="form-group">
                      <label for="inputInteres" translate>contactanos-interes</label>
                      <select id="inputInteres" class="form-control">
                        <option selected translate>contactanos-interes1</option>
                        <option translate>contactanos-interes2</option>
                        <option translate>contactanos-interes3</option>
                        <option translate>contactanos-interes4</option>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="inputMensaje" translate>contactanos-mensaje</label>
                        <textarea class="form-control" id="textTareaMensaje" rows="3"></textarea>  
                      </div>
                
                
              
              <button type="submit" class="btn btn-primary" translate>contactanos-button-registrarse</button>
            </form>
    </div>
</div>
<div class="card col-md-6" style="width: 500px"><iframe width="500" height="620" src="https://maps.google.com/maps?width=500&height=600&hl=es&q=18%20norte%20y%2014%20ote%20puebla%20+(Ametrajub%20A.C.)&ie=UTF8&t=&z=18&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/crear-un-mapa-de-google/">Crear mapa interactivo</a> by <a href="https://www.mapsdirections.info/">Mapa España</a></iframe></div>

</div>


