
<div class="top card border-dark mb-3">
 <div class="card-header">
  <div class="text-center">
    <h1 translate>registro-bienvenido</h1>
    <h3 translate>registro-nuevoRegistro</h3> 
  </div> 
</div>
 <div class="card-body">
   <form>
  <div class="form-group">
      
      <div class="form-group">
          
        <label for="inputEmail"  translate>registro-email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputPassword"  translate>registro-pass</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="">
      </div>
      <div class="form-group">
          <label for="inputWork"  translate>registro-ocupacion</label>
          <input type="" class="form-control" id="inputWork" placeholder="">
      </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputCountry" translate>registro-pais</label>
            <select id="inputCountry" class="form-control">
              <option selected translate>registro-pais1</option>
              <option translate>registro-pais2</option>
              <option translate>registro-pais3</option>
              <option translate>registro-pais4</option>
              <option translate>registro-pais5</option>
              <option translate>registro-pais6</option>
              <option translate>registro-pais7</option>
              <option translate>registro-pais8</option>
              <option translate>registro-pais9</option>
              <option translate>registro-pais10</option>              
              <option translate>registro-pais11</option>
              <option translate>registro-pais12</option>
              <option translate>registro-pais13</option>
              <option translate>registro-pais14</option>
              <option translate>registro-pais15</option>
              <option translate>registro-pais16</option>
            </select>
          </div>
          <div class="form-group col-md-3">
              <label for="inputCiudad">Ciudad</label>
              <input type="" class="form-control" id="inputCiudad" placeholder="">  
            </div>
      <div class="form-group col-md-3">
          <label for="inputEstado">Estado</label>
          <input type="" class="form-control" id="inputEstado" placeholder="">
      </div>
      <div class="form-group col-md-3">
        <label for="inputTelefono">Telefono (Lada)</label>
        <input type="text" class="form-control" id="inputTelefono" placeholder="">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
 </div>
</div>